body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-color)
}

.client .logo {
  height: 50px;
}

.admin .logo, .display .logo {
  height: 75px;
}

.left-panel {
  width: 250px;
}

.display {
  padding: 0 24px;
  font-size: 24px;
  font-size: calc(16px + 1vw);
}

.background-image {
  position: fixed;
  z-index: -1;
  margin: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--bg-image);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

.question-header input {
  font-weight: bold;
  font-size: 24px;
  text-overflow: ellipsis;
}

/* As we're changing font size globally above, and button sets it explicitly, set it here, too. A bit of a hack... */
.button-card {
  font-size: 0.875rem;
}

.client .MuiCard-root, .display .MuiCard-root {
  margin-bottom: 10px;
}

.client {
  display: flex;
  justify-content: center;
}

.response .row {
  padding-right: 10px;
}

.clickable {
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
    !important;

  &:hover {
    background-color: #f0f0f0;
  }
}

.MuiChip-root.code {
  margin-top: -1px;

  span {
    font: bold 1.3em Courier;
    letter-spacing: 2px;
  }
}

/* wtf? */
#root .MuiCardContent-root:last-child {
  padding-bottom: 16px;
}


/* allow forms to be embedded in dialogs - essentially replicate a few styles */
.MuiDialog-container form {
  display: flex;

  .MuiDialogContent-root {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .MuiDialogActions-root {
    align-self: flex-end;
  }
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button.link {
  border: none;
  background: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  margin: 0;
}