/* simple grid with classes - much less boilerplate than using a full grid system */
.row {
  display: flex;
  align-items: center;
}

.row > *:not(:first-child) {
  margin-left: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column > *:not(:first-child) {
  margin-top: 10px;
}

.flex {
  flex: 1;
}

.space-between {
  justify-content: space-between;
}
