:root {
  --primary-bg-color: #148047;
  --primary-color: #ffffff;
  /*--bg-image: url(assets/plectrum.png);*/
}

.logo {
  content: 'hordesauce'
}

.p0 { padding: 0 !important; }
.p1 { padding: 4px !important; }
.p2 { padding: 8px !important; }
.pt1 { padding-top: 4px !important; }
.pt2 { padding-top: 8px !important; }
.pb1 { padding-bottom: 4px !important; }
.pb2 { padding-bottom: 8px !important; }

.m0 { margin: 0 !important; }
.m1 { margin: 4px !important; }
.m2 { margin: 8px !important; }
.mb1 { margin-bottom: 4px !important; }
.mb2 { margin-bottom: 8px !important; }
.mt1 { margin-top: 4px !important; }
.mt2 { margin-top: 8px !important; }
.mr1 { margin-right: 4px !important; }
.mr2 { margin-right: 8px !important; }
.ml1 { margin-left: 4px !important; }
.ml2 { margin-left: 8px !important; }
